@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(90deg, #000000de 50%, #000000d7 50%);
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 1220px;
}

/* NAVBAR SECTION */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    color: rgb(166, 238, 50);
    font-size: 18px;
    text-decoration: underline;
    margin-left: 0px;
}

nav ul li a:active {
    color: rgba(255, 255, 255, 0.89);
}

/* MAIN CONTENT SECTION */
.content {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.content .section h1 {
    text-decoration: underline;
}

.content .section p img {
    width: 100%;
    border-radius: 10px;
}

.content .section .third-para {
    color: rgb(166, 238, 50);
}

.sidebar {
    float: left;
}

/* Qualifications tab */
.quals{
    border-collapse: collapse;
}
.quals th{
    border-bottom:3px solid #ccc;
    padding:5px;
}
.quals td{
    border-bottom:1px solid #ccc;
    padding:5px;
}

/* FOOTER SECTION */
footer {
    position: absolute;
    bottom: 0px;
}

footer span {
    color: rgb(166, 238, 50);
}